{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec,
    warn_shadow_vars
]}.

{deps, [
    {cowboy, "2.5.0"},
    {jsx, "2.9.0"},
    {recon, "2.3.6"},
    {redbug, "1.2.1"}
]}.

{shell, [
    {apps, [cat_traveler, recon, redbug]},
    {config, "conf/sys.config"}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            nowarn_missing_spec,
            warn_shadow_vars,
            nowarn_export_all
        ]}
    ]}
]}.